h1{
    font-family: 'Times New Roman', Times, serif;
    color: brown;
}
body{
    padding: 30px;
    background-color:#969696;
    border: 5px solid black;
    border-radius: 20px;
}
h2{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: brown;
}
footer{
    text-align: center;
}
p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
a{
    text-decoration: none;
    color:rgb(234, 127, 127);
}
ul{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
td{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
a:hover{
    background-color: white;
}
.nj h3:hover{
    background-color: white;

}


